
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }
  body {
    overflow-x: hidden;
    position: relative;
    display: flex;
  }
  p {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
  }
 
  

.columna {
    width: 20%;
    background-color: #f0f0f0;
    padding: 10px;
}

#mundoExterno {
    width: 80%;
    height: 80vh;
    position: relative;
    background-image: url('backyard.jpeg');
    background-size: contain;
    overflow: hidden;
}

#mundoExterno p {
    position: absolute;
    cursor: pointer;
    color: #fff;
    font-size: 50px;
}
.pensamiento{
    white-space: nowrap; 
}
@keyframes mover {
    from {
        right: var(--anim-start);
    }

    to {
        right: 100%;
    }
}

/* Clases para aplicar la animación con diferentes valores de inicio */
.tanda1 {
    --anim-start: -80%;
    animation: mover 5s linear infinite;
}
.tanda2 {
    --anim-start: -50%; 
    animation: mover 20s linear infinite;
}
.tanda3 {
    --anim-start: -20%; 
    animation: mover 8s linear infinite;
}
.tanda4{
    --anim-start: -70%; 
    animation: mover 40s linear infinite;
}

#mundoExterno video,
#textoFinal {
    display: none;
}

